* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'montserrat', sans-serif;
}

main {
    width: 90%;
    height: 95%;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
}

.bg-img {
    background-image: url(./images/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 43%;
}

.hero {
    width: 100%;
    height: 57%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

p {
    color:  hsl(228, 12%, 48%);
    font-size: 1.4rem;
    line-height: 160%;
}

.special {
    letter-spacing: 3px;
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 2.8rem;
}

.price-tag {
    width: 70%;
    display: flex;
    align-items: center;
}
.price-tag-cut {
    font-family: 'Fraunces', serif;
    font-size: 2.8rem;
    color: hsl(158, 36%, 37%);
}
.price-tag-del {
    margin-left: 10%;
}

.buy-btn {
    background-color: hsl(158, 36%, 37%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    border-radius: 10px;
    cursor: pointer;
}
.buy-btn p {
    color: white;
    margin-left: 15px;
}
.buy-btn img {
    width: 20px;
}

@media only screen and (min-width: 600px) {
    main {
        display: flex;
        height: 500px;
        width: 700px;
    }
    .bg-img {
        background-image: url(./images/image-product-desktop.jpg);
        height: 100%;
    }
    .hero {
        height: 100%;
    }
}